source https://nuget.org/api/v2

nuget xunit.runner.console

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget FsCheck
  nuget FsCheck.Xunit
  nuget xunit